body{
    font-size: 76%;
    font-family: sans-serif;
}
body * {
    font-size: 1em;
}
a{
    font-weight: bold;
    text-decoration: none;
}
header nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header nav a{
    text-decoration: none;
    font-weight: bold;
}
article{
    line-height: 1.8em;
}
article p{
    margin: 1em 0;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font: 2.4em normal;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 1.8em normal;
    margin-top: 1em;   
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 1.4em normal;
    margin-top: 1em;
}